@import '../../../styles/variables';
@import '../../../styles/mixins';

.pagination {
  width: 100%;
  @include display-flex(center);

  &__button {
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: rgba($brand-main-hover, 0.2);
    }

    &:active {
      background: $brand-main-active;
    }
  }

  .active-link {
    background: $brand-main;
    color: $white;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  background: none;
}
